<h1>Create a new recipe</h1>
<form action="/recipes" method="post">
<p>Name of a recipe: <input type="text" name="rname"/></p>
<p>Description of a recipe: <input type="text", name="rdesc"/></p>
<p>Rating of a recipe: <input type="text", name="rrating"/></p>
<p>Author of a recipe: <input type="text", name="rauthor"/></p>
<input type="submit"/>
</form>
